<nav class="uk-navbar uk-navbar-container uk-padding-small uk-padding-remove-vertical
            uk-child-width-2-3@l uk-child-width-1-1 uk-visible@s uk-text-light" 
     navbar-dark>

    <a class="uk-navbar-left uk-flex uk-flex-middle uk-flex-center uk-gap-none" 
       href="/#"> 
       <i material> wallet </i> <h3 class="uk-inline"> miPOS </h3> 
    </a>

    <!--
    <div class="uk-navbar-center uk-flex uk-flex-center">
    <ul class="uk-navbar-nav">
        <a href="/#home"> Home </a>
        <a href="/#about"> About </a>
        <a href="/#service"> Services </a>
        <a href="/#work"> Our Work </a>
    </ul>
    </div>
    -->

    <div class="uk-navbar-right uk-flex uk-flex-center">
    <div class="uk-navbar-item">
        <a class="uk-flex uk-flex-middle uk-background-success uk-text-dark"
           button href="/#notify" > 
            <i material> campaign </i> suscribirse
        </a>
    </div>
    </div>

</nav>

<!-------------------------------------------------------------------------------------------->

<nav class="uk-navbar uk-navbar-container uk-padding-small uk-padding-remove-vertical
            uk-hidden@s uk-text-light"
     navbar-dark >

    <a class="uk-navbar-left uk-flex uk-flex-middle uk-flex-center uk-gap-none" 
       href="/#"> 
       <i material> wallet </i> <h3 class="uk-inline"> miPOS </h3> 
    </a>

    <!--
    <div class="uk-navbar-center uk-flex uk-flex-center">
    <ul class="uk-navbar-nav">
        <a href="/#home"> Home </a>
        <a href="/#about"> About </a>
        <a href="/#service"> Services </a>
        <a href="/#work"> Our Work </a>
    </ul>
    </div>
    -->

    <div class="uk-navbar-right uk-flex uk-flex-center">
    <div class="uk-navbar-item">
        <a class="uk-flex uk-flex-middle uk-background-success uk-text-dark"
           button href="/#notify" > 
            <i material> campaign </i> suscribirse
        </a>
    </div>
    </div>

</nav> 

<!-------------------------------------------------------------------------------------------->