<div class="uk-animation-slide-bottom-small uk-animation-fade
            uk-flex uk-flex-column uk-flex-middle 
            uk-padding-small">

    <div class="uk-rounded uk-rounded-large uk-background-secondary
                uk-flex uk-flex-center uk-flex-middle
                uk-text-success uk-padding"
         style="font-size: 150px; border-radius: 100%; 
                width: 250px; height: 250px;">
    
        <div> ❤ </div>
        
    </div><br>

    <div>

        <h1> Gracias por suscribirte </h1><br>
        <a class="uk-text-success" href="/#" button> Ir a la página principal </a>

    </div>

</div>