<!DOCTYPE html><html lang="es">

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<head>
    <meta charset="UTF-8"> <title>MiPOS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/material.css" />
    <link rel="stylesheet" href="/assets/css/uikit.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

<body class="uk-height-viewport uk-flex uk-flex-column uk-flex-middle uk-child-width-1-1 
             uk-background-primary uk-light uk-overflow-hidden">

    <div><° ./View/assets/html/navbar2.html °></div>

    <!-------------------------------------------------------------------------------------------->

    <main class="uk-flex uk-height-viewport uk-flex-middle uk-flex-center
                 uk-flex-wrap uk-child-width-1-2@m uk-width-5-6@m">
        <° ./View/assets/html/suscribed.html °>
    </main>

</body>

<!--────────────────────────────────────────────────────────────────────────────────────────────-->

</html>